<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Sri Jayam Beauty Parlor</title>
    <link rel="stylesheet" href="bookingPageStyles.css">
</head>
<body>

    <div class="navbar">
        <h3>Sri Jayam</h3>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/book">Book an Appointment</a>
        <a href="https://visheshbons.github.io/cv/">About the Developer</a>
    </div>    
  
<header> 
    <h1>Contact us</h1>
</header>

<hr>

<main>
    
    <table>
        <tbody>
            <tr>
                <td>
                    <h4>Ph:</h4>
                </td>
                <td>
                    <p id="phone">Err404: Contact vishesh.kudva@gmail.com with the code "BPWid=phone=>Err404".</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Email:</h4>
                </td>
                <td>
                    <p id="email">Err404: Contact vishesh.kudva@gmail.com with the code "BPWid=email=>Err404".</p>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>Find us using the map below</h2>
    <p>Or, you might want to use <a href="https://maps.app.goo.gl/ppYe7tvJ4icXnDyT9">this link</a>.</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15668.499715199943!2d79.3682575282531!3d10.95393459419255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baacd6adc81418b%3A0x75f70735d528df48!2sSri%20Jayam%20Beauty%20Parlour%20%26%20Tailoring!5e0!3m2!1sen!2sin!4v1735474131293!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</main>

<footer>
    <p>&copy; 2025 Sri Jayam Beauty Parlor. All rights reserved.</p>
</footer>

<script src="booking.js"></script>

<script>

    const phoneNum = document.getElementById('phone');
    phoneNum.textContent = phoneVar;

    const emailId = document.getElementById('email');
    emailId.textContent = emailVar;

</script>

</body>
</html>