<div class="navbar">
    <h3 title="Why are you hovering your mouse over me?">Sri Jayam</h3>
    <a href="/" title="Hello!">Home</a>
    <a href="/contact" title="The 'you do it yourself' kind of page.">Contact</a>
    <a href="/book" title="It does work... kind of">Book an Appointment</a>
    <a href="https://visheshbons.github.io/cv/" title="Yes, I did need to put this in.">About the Developer</a>
</div>